<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div id="clearance" class="sign-in">
      <h2><%= t(".title") %></h2>
      <%= render partial: '/sessions/form' %>
    </div>
  </div>
</div>
