<div class="media-list">
  <div class="row">
    <% 4.times do %>
      <div class="col-sm-12 col-md-4">
        <div class="media-item">
          <div class="media-title text-center">Title</div>
          <div class="media-content">
            <div class="media-image">
              <img src="http://www.animenewsnetwork.com/thumbnails/max500x600/encyc/A12368-1376837474.1424243297.jpg">
            </div>
            <div class="media-plot">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et interdum erat, ut fermentum lorem. In hac habitasse platea dictumst. Duis sit amet diam et urna mollis sodales. Quisque euismod tincidunt lacus, vel luctus nisi tincidunt non. Praesent et mi aliquet, mattis velit in, dictum purus. Fusce pharetra tristique diam, id vestibulum turpis malesuada id. Vestibulum varius finibus augue ornare venenatis. Pellentesque interdum, metus sed dignissim porta, felis leo condimentum nisl, at suscipit neque libero at dui.
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
